@keyframes rgbColor {
    0%, 100% {
        color:hsl(222, 29%, 46%);
    }

    25% {
        color: hsl(263, 77%, 62%);
    }

    50% {
        color: hsl(263, 60%, 26%);
    }
}

@keyframes rgbBackground-color {
    0%, 100% {
        background-color: hsl(222, 29%, 46%);
    }

    25% {
        background-color: hsl(263, 77%, 62%);
    }

    50% {
        background-color:hsl(263, 60%, 26%);
    }
}